// Specific CSS for your home-page
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #2B2B2B;
  background-color: #D9CAB3;
}

h1, h2, h4 {
  font-family: Poppins;
  color: #2B2B2B;
  text-decoration: none;
}

p {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: #2B2B2B
}

h2 {
  width: 30%;
  margin: 0 auto;
  line-height: 4;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #2B2B2B;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}

.services-list {
 display: flex;
 line-height: 2;
 padding-bottom: 50px;
 padding-top: 30px;
}
