<h1>Add a new booking</h1>

<%= simple_form_for [ @dog, @booking ] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
