<h1><%= "Congrats, #{@booking.user.first_name}!" %></h1><br>
<p><%= "Your booking with #{@booking.dog.name} from #{@booking.start_date} to #{@booking.end_date} has been made and is #{@booking.status}." %></p><br>
<p><%= "You'll get an email soon after it has been accepted by the user with more details." %></p>
