<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pawnr</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!-- code a Hero / Banner section -->
<div class="banner">
  <div class="container">
    <h1>Meet your new pawnr</h1>
    <p>Find a dog to spend the day with</p>
    <a class="btn-main" href="#">Find a pawnr</a>
  </div>
</div>

  <div class="container">
    <h2>How does it works?</h2>

      <div class="card-category" style="background-image">
      <div class="card-testimonial">
        <div class="card-block">
          <hr class="card-block-border">
          <div class="card-text">
            <h3 class="thin-text">
              <span>

                  I love dogs, but since I go to the office everyday, I can't have my own dog; Pawnr allows me to spend my weekends with puppies.&nbsp;

               </span>

              <span class="customer-name"><span class="hidden-xs">–&nbsp;</span><span>Carla F.</span></span>
            </h3>
            <div class="dog-people">
              <span>

                We’re The Dog People.&nbsp;

<!-- this space intentionally left blank-->

              </span>
            </div>
            <div role="img" aria-label="Woman in the park with a dog"></div>
          </div>
        </div>
      </div>

  </div>
</div>

  <!-- code a "How it works" section -->

</body>
</html>
