<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pawnr</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <!-- code a Hero / Banner section -->
<div class="banner">
  <div class="container">
    <h1>Meet your new pawnr</h1>
    <p>Find a dog to spend the day with</p>
    <%= link_to "Find a pawnr", dogs_path, class: "btn-main"%>
  </div>
</div>
<h2><strong>Explore the possibilities</strong></h2>
  <div class="container">


    <div class="services-list" role="list">

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0" role="listitem">
        <%= image_tag "walk.png", class: "avatar-walk", alt: "avatar-large" %>
          <div class="service-row"><i class="rover-icon rover-icon-sitter-home service-icon"></i>
            <div class="description">
              <label class="title">Dog walks</label>
              <div class="content text-muted">Spend 30 or 60 minutes walking around the neighborhood.</div>
            </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0" role="listitem">
        <%= image_tag "hosting.png", class: "avatar-hosting", alt: "avatar-large" %>
          <div class="service-row"><i class="rover-icon rover-icon-sitter-traveling service-icon"></i>
            <div class="description">
              <label class="title">Hosting in your home</label>
              <div class="content text-muted">Live the full experience of dog sitting: Host a Pawnr in your home.</div>
            </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0" role="listitem">
        <%= image_tag "daycare.png", class: "avatar-daycare", alt: "avatar-large" %>
      <div class="service-row"><i class="rover-icon rover-icon-walking service-icon"></i>
        <div class="description">
          <label class="title">Doggy day care</label>
          <div class="content text-muted">Take care of your Pawnr for a couple of hours during the day.</div>
        </div>
      </div>
    </div>

  </div>

      <div class="card-category" style="background-image">
      <div class="card-testimonial">
        <div class="card-block">
          <hr class="card-block-border">
          <div class="card-text">
            <h3 class="thin-text">


              <span>

                  "I love dogs, but since I go to the office everyday, I can't have my own dog; Pawnr allows me to spend my weekends with puppies." &nbsp;

               </span>
              <br>
              <span class="customer-name"><span class="hidden-xs">–&nbsp;</span><span><strong>Carla F.</strong></span></span>
            </h3>
            <div class="dog-people">
              <span>

                We’re The Dog People.&nbsp;

<!-- this space intentionally left blank-->

              </span>
            </div>
            <div role="img" aria-label="Woman in the park with a dog"></div>
          </div>
        </div>
      </div>

  </div>
</div>

  <!-- code a "How it works" section -->

</body>
</html>
