 .btn-main {
  color: white;
  background-color: #4CA1A3;
  text-align: center;
  padding: 10px 15px;
  border-radius: 6px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
 }

 .btn-main:hover {
  background-color: #A7D0CD;
  color: white;
  text-decoration: none;
}
