.footer {
  background: #FEF9EF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #4CA1A3;
  opacity: 0.70;
  text-decoration: none;
  font-size: 29px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #DDB6C6;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}

.footer-copyright {
  font-size: 16px;
}

.footer-image {
  height: 353px;
}

.footer-image img {
  height: 100%;
  width: 100%;
}
