.navbar-pawnr {
  justify-content: space-between;
  background: white;
}

.navbar-pawnr .navbar-collapse {
  flex-grow: 0;
}

.navbar-pawnr .navbar-brand img {
  width: 40px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
