.navbar-pawnr {
  justify-content: space-between;
  background: #F7F6F2;
}

.navbar-pawnr .navbar-collapse {
  flex-grow: 0;
}

.navbar-pawnr .navbar-brand img {
  width: 50px;
}

.navbar {
  padding: 0rem 1.2rem;
}

.nav-item {
  font-family: Helvetica;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
