.card {
  margin: 20px;
}

.main-info {
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.extra-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  text-align: center;
}
