.card {
  margin: 20px;
  border-radius: 4px;
  height: 400px;

  .background {
    height: 80%;
    color: #FBFBFB;
  }
}

.card:hover {
  background-color: #F7F6F2;
  text-decoration: none !important;
}

.card-img-top {
  border-radius: 4px 4px 0px 0px;
  height: 300px;
}

.main-info {
  display: flex ;
  justify-content: space-between;
  align-items: center;
  color: rgb(64, 67, 71);
}

.extra-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.container {
  text-align: center;
}

.price {
  font-size: 22px;
  color: #2B2B2B;
}

.main-container {
  display: flex;
}

 #map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  object-fit: cover;
  margin: 20px 20px 20px 0px;
  border-radius: 4px;
}

h4 {
  font-size: 26px;
  font-weight: 700;
  color: rgb(64, 67, 71);
  margin-right: 4px;
  text-decoration: none;
}

.header-index h2 {
  font-weight: bold;
}

.cards a:hover {
  text-decoration: none;
}

.mapboxgl-popup-content > h2, p {
  position: center;

}
