.card {
  margin: 20px;
  border-radius: 4px;
}

.card-img-top {
  border-radius: 4px 4px 0px 0px;
}

.main-info {
  display: flex ;
  justify-content: space-between;
  align-items: center;
  color: rgb(64, 67, 71);
}

.extra-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  text-align: center;
}

.price {
  font-size: 19px;
  color: rgb(64, 67, 71);
}

.main-container {
  display: flex;
}

 #map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  object-fit: cover;
  margin: 20px 9px 20px 0px;
}

h4 {
  font-size: 26px;
  font-weight: 700;
  color: rgb(64, 67, 71);
  margin-right: 4px;
}
