.card {
  margin: 20px;
}

.main-info {
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.extra-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  text-align: center;
}

.price {
  font-size: 20px;
}

.main-container {
  display: flex;
}

 #map {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100%;
  object-fit: cover;
  // padding: 0px 0px 0px 20px;
}
