.main-photo {
  display: flex;
  align-items: center;
  margin: 20px;
}

.book {
  background-color: white;
  padding: 20px;
  width: 350px;
  margin-left: 100px;
  // margin-right: 50px ;
  position: sticky;
  border-radius: 4px;

  h1 {
    font-size: 20px;
    color: #404347;
  }

}


.right {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 50px;
  min-width: 300px;
}

.details {
  list-style: none;
  font-size: 20px;
}

.about-me {
  width: 80vw;
  margin: 20px ;
  display: flex;
}

.dog-description {
  padding: 10px;
}



#carouselExampleIndicators {
  width:600px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 4px;

}
.card .background {
  border-radius: 4px 4px 2px 2px;
}

.cards h4 {
  text-decoration: none;
}


.show-top {
  display: flex;
  // justify-content: flex-start;
   align-items:center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.euro {
  margin-top: 30px;
}
